.vibrate {
  animation: vibrate 0.3s linear infinite;
}

@keyframes vibrate {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-1px);
  }

  50% {
    transform: translateX(1px);
  }

  75% {
    transform: translateX(-1px);
  }

  100% {
    transform: translateX(1px);
  }
}


@keyframes animate-zoomInOut {
  0% {
    transform: scale(0.8);
  }

  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.8);
  }
}

@keyframes zoomInOut {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.8);
  }

  100% {
    transform: scale(1);
  }
}

.animate-zoomInOut {
  animation: animate-zoomInOut 2s ease-in-out infinite;
}

.paranetDiv:hover .zoomInOut {
  animation: zoomInOut 1s ease-in-out infinite;
}


.fontstyle {
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes osilate {
  0% {
    transform: translateX(0px);
  }

  50% {
    transform: translateX(-4px);
  }

  100% {
    transform: translateX(0px);
  }
}

.osilate {
  animation: osilate 1s ease-in-out infinite;
}

@keyframes oscillateX {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(20px);
  }

  100% {
    transform: translateX(0);
  }
}

.oscillate-horizontal {
  animation: oscillateX 3s ease-in-out infinite;
}


@media (min-width: 390px) and (max-width: 766px) {
  .custom-style {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@keyframes vibrate {

  0%,
  100% {
    transform: translateX(0);
  }

  20% {
    transform: translateX(-2px);
  }

  40% {
    transform: translateX(2px);
  }

  60% {
    transform: translateX(-2px);
  }

  80% {
    transform: translateX(2px);
  }
}

.vibrate-call {
  /* animation: vibrate 4s ease-in-out infinite;
   */
  color: black;
  background-color: aqua;
}

.font-family {
  font-family: 'Poppins', sans-serif;
}

* {
  scroll-behavior: smooth;
}

/* Add to your global CSS if needed */
.perspective {
  perspective: 1200px;
}

.transform-style {
  transform-style: preserve-3d;
}

@keyframes shake {

  0%,
  100% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-3px);
  }

  50% {
    transform: translateX(3px);
  }

  75% {
    transform: translateX(-3px);
  }
}

.shake-mobile {
  animation: shake 0.6s infinite;
}

@media (min-width: 640px) {

  /* Disable animation on screens ≥ 640px (sm in Tailwind) */
  .shake-mobile {
    animation: none;
  }
}